.quick {
    float: right;
}

.message-list-actions {
    float: right !important;
    padding: 2px 4px !important;
}

.parent-list {
    margin-bottom: 10px !important;
}

.parent-list a {
    font-weight: bold;
}

#colour_palette dt {
    display: none;
}

#color_palette_placeholder {
    margin-left: auto;
}

#format-buttons {
    margin-top: 0;
}

#cannedmessage_preview dd {
    width: 100%;
    float: left;
    margin-left: 0;
}