{% include 'mcp_header.html' %}
{% INCLUDECSS '@phpbb_cannedmessages/cannedmessages.css' %}

<h2>{{ lang('MCP_CANNEDMESSAGES_TITLE') }}</h2>

<div class="panel">
	<div class="inner">

		<h3>{{ lang('MCP_CANNEDMESSAGES_MANAGE') }}</h3>

		{% if S_CANNEDMESSAGE_ADD_OR_EDIT %}
			<p>{{ lang('CANNEDMESSAGES_EXPLAIN_ADD_EDIT') }}</p>

			{% if S_ERROR %}
			<div class="error">
				<h3>{{ lang('ERROR') }}</h3>
				<p>{{ ERROR_MSG }}</p>
			</div>
			{% endif %}

			<form name="cannedmessage_add_edit" id="cannedmessage_add_edit" method="post" action="{{ U_ACTION }}">
				<fieldset>
					<dl>
						<dt><label for="cannedmessage_name">{{ lang('CANNEDMESSAGE_NAME') ~ lang('COLON') }}</label></dt>
						<dd><input name="cannedmessage_name" id="cannedmessage_name" type="text" class="inputbox" maxlength="255" value="{{ CANNESMESSAGE_NAME }}" /></dd>
					</dl>

					<dl>
						<dt><label for="cannedmessage_parent">{{ lang('CANNEDMESSAGE_PARENT') ~ lang('COLON') }}</label></dt>
						<dd>
							<select name="cannedmessage_parent" id="cannedmessage_parent">
								<option value="0">{{ lang('NO_PARENT') }}</option>
								{% include '@phpbb_cannedmessages/cannedmessage_list.html' %}
							</select>
						</dd>
					</dl>

					<dl>
						<dt><label for="is_cat1">{{ lang('CANNEDMESSAGE_IS_CAT') ~ lang('COLON') }}</label></dt>
						<dd>
							<label for="is_cat1"><input type="radio" name="is_cat" id="is_cat1" value="1" {% if IS_CAT %}checked="checked"{% endif %}/> {{ lang('YES') }}</label>
							<label for="is_cat0"><input type="radio" name="is_cat" id="is_cat0" value="0" {% if not IS_CAT %}checked="checked"{% endif %}/> {{ lang('NO') }}</label>
						</dd>
					</dl>

					<dl id="cannedmessage_content_section"{% if IS_CAT %} style="display: none;"{% endif %}>
						<dt><label for="cannedmessage_content">{{ lang('CANNEDMESSAGE_CONTENT') ~ lang('COLON') }}</label></dt>
						<dd>
							{% include 'posting_buttons.html' %}
							<textarea name="cannedmessage_content" id="cannedmessage_content" class="inputbox" cols="40" rows="15">{{ CANNEDMESSAGE_CONTENT }}</textarea>
						</dd>
					</dl>

					{% if CANNEDMESSAGE_CONTENT_PREVIEW %}
					<dl id="cannedmessage_preview">
						<dt><label>{{ lang('PREVIEW') ~ lang('COLON') }}</label></dt>
						<dd>
							<div class="post bg2">
								<div class="inner">
									<div class="postbody">
										<div class="content">{{ CANNEDMESSAGE_CONTENT_PREVIEW }}</div>
									</div>
								</div>
							</div>
						</dd>
					</dl>
					{% endif %}
				</fieldset>

				<hr />

				<fieldset class="submit-buttons">
					<input type="submit" name="preview" id="preview" value="{{ lang('PREVIEW') }}" class="button1 button button-form"{% if IS_CAT %} style="display: none;"{% endif %} />
					<input type="submit" name="submit" id="submit" value="{{ lang('SUBMIT') }}" class="button1 button button-form" />
					<input type="submit" name="cancel" id="cancel" value="{{ lang('CANCEL') }}" class="button1 button button-form" />
					<input type="hidden" name="action_cancel" id="action_cancel" value="{{ U_ACTION_CANCEL }}" />
					{{ S_FORM_TOKEN }}
				</fieldset>
			</form>

		{% else %}
			<p>{{ lang('CANNEDMESSAGES_EXPLAIN_MANAGE') }}</p>

			{% if loops.parents %}
			<ul class="linklist parent-list">
				{% for parent in loops.parents %}
				<li><a href="{{ parent.U_PARENT}}">{{ parent.PARENT_NAME }}</a></li>
				{% if not parent.S_LAST_ROW %}
				<li>-></li>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}

			<ul class="topiclist simple">
				<li class="header">
					<dl>
						<dt><div class="list-inner">{{ lang('CANNEDMESSAGE_NAME') }}</div></dt>
						<dd class="topictitle message-list-actions">{{ lang('ACTIONS') }}</dd>
					</dl>
				</li>
			</ul>

			<ul class="topiclist cplist">
				{% for cannedmessage in loops.cannedmessages %}
				<li class="row {% if cannedmessage.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
					<dl>
						<dt>
							<div class="list-inner">
								<b>{% if cannedmessage.U_CANNEDMESSAGE %}<a href="{{ cannedmessage.U_CANNEDMESSAGE }}">{{ cannedmessage.CANNEDMESSAGE_NAME }}</a>{% else %}{{ cannedmessage.CANNEDMESSAGE_NAME }}{% endif %}</b>
							</div>
						</dt>
						<dd class="message-list-actions">
							<span class="up-disabled" style="display:none;">{{ Icon('font', 'circle-arrow-up', lang('MOVE_UP'), true, 'fas mcp-icon mcp-icon-disabled') }}</i></span>
							<span class="up"><a href="{{ cannedmessage.U_MOVE_UP }}">{{ Icon('font', 'circle-arrow-up', lang('MOVE_UP'), true, 'fas mcp-icon mcp-icon-move') }}</a></span>
							<span class="down-disabled" style="display:none;">{{ Icon('font', 'circle-arrow-down', lang('MOVE_DOWN'), true, 'fas mcp-icon mcp-icon-disabled') }}</i></span>
							<span class="down"><a href="{{ cannedmessage.U_MOVE_DOWN }}">{{ Icon('font', 'circle-arrow-down', lang('MOVE_DOWN'), true, 'fas mcp-icon mcp-icon-move') }}</i></a></span>
							<a href="{{ cannedmessage.U_EDIT }}">{{ Icon('font', 'gear', lang('EDIT'), true, 'fas mcp-icon mcp-icon-settings') }}</a>
							<a href="{{ cannedmessage.U_DELETE }}">{{ Icon('font', 'circle-xmark', lang('DELETE'), true, 'fas mcp-icon mcp-icon-delete') }}</a>
						</dd>
					</dl>
				</li>
				{% else %}
				<li class="row bg1">
					<dl>
						<dt>
							<div class="list-inner">
								<i>{{ lang('NO_CANNEDMESSAGES') }}</i>
							</div>
						</dt>
					</dl>
				</li>
				{% endfor %}
			</ul>

			<form id="cannedmessages" method="post" action="{{ U_ACTION_ADD }}">
				<fieldset class="quick">
					<input type="hidden" name="action" value="add" />

					<input type="text" id="cannedmessage_name" name="cannedmessage_name" class="inputbox autowidth" value="" maxlength="255" />
					<input class="button1 button button-form" id="addmessage" name="addmessage" type="submit" value="{{ lang('CREATE_CANNEDMESSAGE') }}" />
					{{ S_FORM_TOKEN }}
				</fieldset>
			</form>
		{% endif %}
	</div>
</div>

{% include 'mcp_footer.html' %}
{# include our JS after the footer ensure it is loaded after core ajax.js, which we overrule #}
{% INCLUDEJS '@phpbb_cannedmessages/js/cannedmessages_mcp.js' %}
