{% if S_CANNEDMESSAGES %}
	<dl style="clear: left;">
		<dt><label for="cannedmessages">{{ lang('CANNEDMESSAGES') }}</label></dt>
		<dd>
			<select name="cannedmessages" id="cannedmessages">
				<option value="" selected="selected">{{ lang('CANNEDMESSAGES') }}</option>
				{% for cannedmessage in S_CANNEDMESSAGES %}
					<option value="{{ cannedmessage.cannedmessage_id }}" {% if cannedmessage.disabled %}disabled="disabled" class="disabled-option" {% elseif cannedmessage.selected %}selected="selected" {% endif %}>{{ cannedmessage.padding }}{{ cannedmessage.cannedmessage_name }}</option>
				{% endfor %}
			</select>
		</dd>
	</dl>
	<script>var u_cannedmessage_selected = '{{ U_CANNEDMESSAGE_SELECTED|e('js') }}';</script>
{% INCLUDEJS '@phpbb_cannedmessages/js/cannedmessages_posting.js' %}
{% endif %}


